#bigBox {
  border-style: solid;
  border-width: 1px;
  border-color: #E8DDCB;
  background-color: #033649;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-bottom: 30px;
}

h1 {
  color: #E8DDCB;
  text-align: center;
}

p {
  color: #E8DDCB;
  text-align: center;
}
